* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url(/img/bckgimg2.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.access {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 550px;
    /* height: 500px; */
}
.logo {
    display: block;
    width: 250px;
    height: 40px;
    margin-bottom: 20px;
} 
.buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.accessButtons {
    display: inline-block;
    width: 50%;
    height: 57px;
    border: none;
    background: #023775; 
    opacity: 0.8;
    outline: none;
    font-size: 16px;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
}
.accessButtons:hover {
    background: #023775;
    opacity: 1;
    font-size: 17px;
}
.accessButtons:focus {
    background: #023775;
    opacity: 1;
    font-size: 17px;
}
.accessinputs {
    width: 100%;
    height: 37px;
    margin-bottom: 10px;
    padding-left: 20px;
    background: transparent;
    border: #023775 solid 1px;
    color: white;
}
.accessinputs::placeholder {
    color: white;
    font-style: italic;
}
.accessinputs:focus::placeholder {
    color: transparent;
}
.accessfield {
    width: 100%;
    border: none;
    padding: 20px 0;
}
.accessinputsubmit {
    background: #023775;
    color: white;
    cursor: pointer;
    font-size: 13px;
    text-transform: uppercase;
    outline: none;
}
.accessinputsubmit:hover {
    font-size: 14px;
}
#successful {
    width: 100%;
    height: 57px;
    background: #023775;
    color: white;
    text-align: center;
    line-height: 57px;
    margin: 20px 0;
}
.checkform {
    padding-bottom: 10px;
    color: red;
    font-size: 12px;

}

.body_std {
    display: flex;
    flex-direction: row;
}
.navigation_std {
    width: 250px;
    height: 100vh;
    background: gainsboro;
    display: flex;
    flex-direction: column;
    
}
.maincontainer_std {
    width: 100%;
    height: 100vh;
    /* background: rosybrown; */
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    
}
.maincontheader_std {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid black; */
    /* background: burlywood; */
}
.statistics {
    width: 200px;
    height: 100px;
    box-shadow: 0 0 5px rgba(2,55,117,0.8);
    border-radius: 7px;
    background: rgba(2,55,117,0.8);
}
.statisnum {
    display: block;
    font-size: 50px;
    text-align: right;
    padding: 0 20px;
    color: white;
}
.statistext {
    display: block;
    font-size: 15px;
    text-align: left;
    padding: 0 20px;
    color: white;
}
.maincontsection_std {
    display: flex;
    flex-direction: column;
}
.student-table {
    width: 500px;
}
.student-table,tr,th,td {
    border: 1px solid #7a7a7a;
    margin: 30px;
    border-collapse: collapse;
    padding: 10px 20px;
}

hr {
    height: 1px;
    color: rgba(2,55,117,0.5);;
    background-color: rgba(2,55,117,0.5);;
    border: none;
}
.buttons_std {
    margin: 30px;
}
.buttonstyle {
    width: 205px;
    height: 48px;
    padding: 14px 20px;
    color: #fff;
    border-color: #5472d2;
    background-color: #5472d2;
    border: 1px solid;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}
.buttonstyle:hover {
    color: #f7f7f7;
    border-color: #3c5ecc;
    background-color: #3c5ecc;
}






/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 0px 20px 20px 20px;
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
    /* height: 150px; */
    display: flex;
    flex-direction: column;
    
  }
.modalinput {
    margin: 10px 0;
    padding: 10px 10px;
}
#addstdsubmit {
    padding: 10px 10px;
    border: none;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    background-color: #5472d2;
}
#addstdsubmit:hover {
    color: #f7f7f7;
    background-color: #3c5ecc;
}
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    text-align: right;
  }
  
  .close:hover,
  .close:focus {
    color: #3c5ecc;
    text-decoration: none;
    cursor: pointer;
  }